@import "./normalize.min.css";

html {
  color: #222;
  font-size: 1em;
}

body {
  font-family: "Arial";
  background: ;
}

body * {
  margin: 0;
  padding:0;
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  height: 100%;
  width: 980px;
  margin: 0 auto;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  margin-right:20px; 
  background-image: linear-gradient(rgba(255,255,255,.95), rgba(255,255,255,.95)), url(../img/background.jpg);
}

header * {
  display: flex;
}

.logo-wrap {
  width: 172px;
}

.header__logo {
  font-size: 37px;
  letter-spacing: -2px;
  padding-bottom: 8px;
}

.logo-img {
  width: 25px;
  height: 19px;
  position: relative;
  left: 1px;
  bottom: 2px;
}

.header__nav { 
  width: 470px;
  margin-right: 16px;
  justify-content: space-around; 
}

.header__nav .main-list {
  position: relative;
}

.header__nav .main-list li {
  display: inline-block;
  font-size: 13px;
  margin-right: 22px;
}

.header__nav .main-list > li:last-child {
  margin: 0;
}

.header__nav .main-list .inner-list {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  padding-top: 5px;
  z-index: 1;
}

.header__nav .main-list .inner-list li {
  width:133px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  padding-left:12px;
  background-color: black;
  color: darkgrey;
  position: relative;
  right: 47px;
}

.header__nav .main-list .inner-list .second-inner-list {
  display: none;
  list-style: none;
  position: absolute;
  left: 99px;
  top: 0px;

}

.header__nav .main-list .inner-list .second-inner-list li {
  width:130px;
	float:none;
	display:list-item;
  position: relative;
  left: 50px;
  color: darkgrey;
}

/*
HOVER
*/
.header__nav .main-list li:hover {
  color: #ae3b44;
}

.header__nav .main-list .inner-list li:hover {
  color: white;
}

.header__nav .main-list .inner-list .expand-second-list:hover:after {
  content: ""; 
	border: solid transparent;
	position: absolute;    
  left: 145px;
  top:11px;
	border-left-color: black;
	border-width: 4px;
}

.header__nav .main-list .inner-list li:hover .second-inner-list li:first-child:before{
    content: ' ';
    height: 4px;
    width: 3px;
    background: white;
    position: absolute;
    left: 19px;
    top: 13px;
    bottom:-15px;
    margin-left: -20px;
    transform: rotate(45deg);
}

.header__nav .main-list li:hover>.inner-list {
  display: inherit;
}

.header__nav .main-list li:hover .inner-list:after{
  height: 1px;
  width: 1px;
  content: ""; 
	border: solid transparent;
	position: absolute;   
	bottom: 90px;
	left: 23px;
	border-bottom-color: black;
	border-width: 4px;
}

.header__nav .main-list .inner-list li:hover> .second-inner-list {
  display: inherit;
}

.header__nav .main-list .inner-list .second-inner-list li:hover {
  cursor: pointer;
  color: white;
}

/*BANNER*/
.banner {
  border-top: 7px solid black;
  display: flex;
  background-color: #ae3b44;
  height: 128px;
  position: relative;
}
.banner-image img {
  flex: 20%;
  height:100%;
}
.banner-title {
  flex: 20%;
  padding: 18px 64px 30px 31px;
  font-size: 22px;
  line-height: 30px;
  color: #edf2f5;
}

.banner-text {
  flex: 60%;
  padding: 21px 33px 0 28px;
  font-size: 12px;
  line-height: 15px;
  color: #222222;
}

.banner-slide {
  position: absolute;
  right: 30px;
  bottom: 15px;
  width: 30px;
  display: flex;
  justify-content: space-between;
}

.banner-slide * {
  color: #eaeaea;
  font-weight: 600;
}

.banner-slide i {
  font-size: 14px;
}

.banner-slide *:hover {
  cursor: pointer;
}

/*MAIN*/
main{
  display: flex;
  width: 980px;
}

/*SIDEBAR*/
.sidebar {
  flex: 20%;
  padding-top: 34px;
  border-right: 1px solid lightgrey;
}

.sidebar .sidebar-title {
  background: repeating-linear-gradient(
    -50deg, 
    #e7e7e7 0,
    #e7e7e7 1px,
     transparent 1px,
     transparent 10px);
  padding: 20px 0 13px 15px;
  
}

.sidebar-title h2 {
  font-size: 17px;
  line-height: 16px;
  color: #212121;
  letter-spacing: 0px;
}

.sidebar-list {
  padding:0px;
  font-size: 12px;
  line-height: 38px;
  color: #3c3c3c;
  border-bottom: 1px solid  #d1cfcf;
}

 .expand-list .arrow-exp{
  float: right;
  position: relative;
  bottom:28px;
}

/*!!!!!!!!!!*/
.sidebar-list li{
  border-top: 1px solid #d1cfcf;
  border-collapse: collapse; 
}

.sidebar-list a:hover:not(.is-active) {
  color: #ae3b44;
}

.sidebar-list .sidebar-list-item a {
  padding-left: 17px;
}

.sidebar-list-item a {
  display: flex;
  padding-left: 30px;
}

.sidebar-list-item a:hover {
  cursor: pointer;
}

.expand-list .arrow-exp{
  transform: translate(-5px, 5px) rotate(90deg)
}

.sidebar-list .is-active {
  background-color: #ae3b44;
  position: relative;
  color: white;
  border: 1px solid #ae3b44;
}

.sidebar-list .is-active::after {
  content: ""; 
	border: solid transparent;
	position: absolute;    
  left: 243px;
  top:15px;
	border-left-color: #ae3b44;
  border-width: 4px;
}

.sidebar-inner-list {
  /* display: none; */
  background-color: #f4f7f8;
}

.sidebar-inner-list .inner-list-item a{
  padding-left: 35px;
}



.secondary-list {
  /* display: none; */
  background-color: #eaeaea;
}

.secondary-list .secondary-list-item {
  padding-left: 55px;
  position: relative;
}

.secondary-list .secondary-list-item::before {
  position: absolute;
  right: 195px;
  top: 4px;
  content: url(../img/arrow.ico);
  width: 6px;
  height: 6px;
}

.secondary-list .secondary-list-item a{
  padding-left: 1px;
}

.sidebar-list .sidebar-list-item:active .sidebar-inner-list{
  display: inherit;
}

.sidebar-inner-list .inner-list-item:active .secondary-list{
  display: inherit;
}



/*MAIN SECTION*/
main {
  border-bottom: 1px solid lightgray;
  /* margin:0 -36px; */
}

.main-wrapper {
  flex: 70%;
}

.article{
  padding-left: 34px;
  /* padding:0 36px 0 34px; */
}

.article h2{
  color: #ae3b44;
  padding: 24px 0 22px 0;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 500;
}

.article p {
  font-size: 12px;
  line-height: 19px;
}

.title-article{
  border-bottom: 1px solid lightgray;
  height: 77px;
  padding-top: 33px;
}

.title-article h1 {
  font-size: 24px;
  letter-spacing: -1px;
  color: #3d3d3d;
  width: 410px;
  font-weight: 500;
}

  .title-article .date-article {
    background: repeating-linear-gradient(
      -50deg, 
      #e7e7e7 0,
      #e7e7e7 1px,
       transparent 1px,
       transparent 10px);
    width: 80px;
    height: 80px;
    color: #939799;
    display: table-cell; 
    vertical-align: middle;  
    text-align: center;
    position: relative;
    bottom: 59px;
    left: 620px;
  }

  .date-article h3 {
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: bold; 
    margin-bottom: 5px;
  }

  .date-article p {
    font-size: 10px;
    line-height: 10px;
    font-family: "Arial";
  }

  .quote-article p{
    font-size: 15px;
    line-height: 21px;
    color: #909293;
    border-bottom: 1px solid lightgray;
    padding: 23px 0 26px 0;
    font-style: italic;
  }

  .main-info-article {
    padding-bottom: 32px;
    border-bottom: 1px solid lightgray;
  }

  figure {
    padding: 36px 0 33px 86px;
    display: inline-block;
  }
  figure img {
      vertical-align: top;
  }
  figure figcaption {
      padding-top: 10px;
      text-align: center;
      color:grey;
      font-size: 11px;
  }

  .main-info-article .extra-image {
    float: left;
    padding: 31px 33px 20px 0;
  }

  .extra-info-article {
    padding-bottom: 24px;
    border-bottom: 1px solid lightgray;
  }

  .pagination{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #ae3b44;
    padding: 24px 0;
  }

  .pagination img {
    width: 15px;
    height: 15px;
  }

  .pagination *:hover {
    color: tomato;
  }

  .pagination .prev {
    display: flex;
    align-items: flex-end;
  }

  .pagination .next {
    display: flex;
    align-items: flex-end;
    
  }
  
  .pagination .prev img{
    padding-right: 20px;
  }

  .pagination .next img{
    padding-left: 20px;
    transform: rotate(180deg);
    margin-left: 20px;
  }

  .brands-wrapper {
    padding: 17px 0 29px 0;
    margin: 0 45px 0 25px;
  }

  .brands {
    display: flex;
    align-items: flex-end;
  }
  .brands__item {
    margin-right: 85px;
    filter: grayscale(1);
  }
  .brands__item:hover {
    filter: none;
  }
  .brands__item h5 {
    white-space: pre;
    font-size: 18px;
    letter-spacing: -1px;
    padding-bottom: 10px;
  }
  .brands__item:last-child {
    margin: 0;
  }
  .brands__item h4 {
    font-size: 18px;
    letter-spacing: 0px;
    color: #212121;
  }

  footer {
  border-top: 1px solid lightgrey;
   padding: 25px 0;
   background-color: whitesmoke; 
  }
  .foot {
    display: flex;
  }
  .footer__navigation {
    display: flex;
    justify-content: center;
    margin: 0 52px 0 17px;
  }
  .navigation__item {
    margin-right: 80px;
  }
  .list-container {
    display: flex;
    margin-right: 120px;
  }
.list-container:last-child{
  margin: 0;
}
  .navigation__item ul {
    font-size: 12px;
    line-height: 19px;
    color: #393939;
    font-weight: 400;
  }


  .navigation__item:last-child {
    margin: 0;
  }

  .navigation__item .navigation__item-list li a {
      font-size: 12px;
      margin-bottom: 5px;
      line-height: 19px;
      color: #393939;
      opacity: 0.3;
  }

  .navigation__item h3 {
    font-size: 13px;
    letter-spacing: 0px;
    color: #393939;
    font-weight: 400;
    margin-bottom: 22px;
    opacity: 0.3;
  }
  .navigation__item .navigation__item-list li a:hover  {
    color: #000000;
    opacity: 1;
    cursor: pointer;
  }

  .simple-list {
    padding-top: 14px;
  }

  .site-links-wrap {
      width: 110px;
  }

  .site-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .site-links .link-item img{
    height: 25px;
    width: 25px;
    filter: grayscale(1);
  }

  .site-links .link-item img:hover{
    filter: none;
    cursor: pointer;
  }

  .copyright-text {
    font-size: 11px;
    line-height: 19px; 
    opacity: 0.3; 
  }
  